*{
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.container{
    border: 3px solid purple;
    width: 900px;
    margin: auto;
}
.item{
    border: 3px solid grey;
    margin: 12px 3px;
    padding: 12px 3px;
    background-color: rgb(248, 238, 238)
}
#fruits{
    float: right;
    width: 48%;
}
#computer{
    float: left;
    width: 48%;
}
#stationery{
    /* float: left; */
    clear: both;
    width: 100%;
}
p, h3{
    /* text-align: left;
    text-align: center;
    text-align: right; */
    text-align: justify;

}
h1{
   margin: 25px auto; 
   width: 50%;
   font-weight: bold;
}

